In [2]:
import pandas as pd    #importing pandas ,pandas is the primary tools used for exploring and manipulationg data.

In [4]:
help(pd.pandas)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from 'c:\\users\...\lib\\s...
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    options = <pandas.core.config.DictWrapper object>
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>

VERSION
    0.23.4

FILE
    c:\users\mlangaru.osius\appdata\local\programs\python\python36\lib\site-packages\pandas\__init__.py

In [6]:
pd.dir(api)

AttributeError: module 'pandas' has no attribute 'dir'

In [8]:
content = pd.read_csv("train.csv")
# print a summary of the data
content.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618

In [11]:
content.columns

Index(['x', 'y'], dtype='object')

In [72]:
contents = content.dropna(axis = 0)    ## dropna drops missing values (think of na as "not available")
contents.describe()

                x           y
count  699.000000  699.000000
mean    50.014306   49.939869
std     28.954560   29.109217
min      0.000000   -3.839981
25%     25.000000   24.929968
50%     49.000000   48.973020
75%     75.000000   74.929911
max    100.000000  108.871618

In [73]:
print(contents.head)

<bound method NDFrame.head of          x           y
0     24.0   21.549452
1     50.0   47.464463
2     15.0   17.218656
3     38.0   36.586398
4     87.0   87.288984
5     36.0   32.463875
6     12.0   10.780897
7     81.0   80.763399
8     25.0   24.612151
9      5.0    6.963319
10    16.0   11.237573
11    16.0   13.532902
12    24.0   24.603239
13    39.0   39.400500
14    54.0   48.437538
15    60.0   61.699003
16    26.0   26.928324
17    73.0   70.405206
18    29.0   29.340924
19    31.0   25.308952
20    68.0   69.029343
21    87.0   84.994847
22    58.0   57.043103
23    54.0   50.592199
24    84.0   83.027722
25    58.0   57.057527
26    49.0   47.958833
27    20.0   24.342264
28    90.0   94.684883
29    48.0   48.039707
..     ...         ...
670   84.0   82.889358
671   64.0   63.613650
672   12.0   11.296272
673   61.0   60.022749
674   75.0   72.603393
675   15.0   11.879646
676  100.0  100.701274
677   43.0   45.124208
678   13.0   14.811068
679   48.0   48.093680
680   45.0   42.291457
681   52.0   52.733898
682   34.0   36.723970
683   30.0   28.645352
684   65.0   62.166753
685  100.0   95.584595
686   67.0   66.043253
687   99.0   99.956622
688   45.0   46.149420
689   87.0   89.137550
690   73.0   69.717878
691    9.0   12.317366
692   81.0   78.202963
693   72.0   71.309954
694   81.0   81.455447
695   58.0   58.595006
696   93.0   94.625094
697   82.0   88.603770
698   66.0   63.648685
699   97.0   94.975266

[699 rows x 2 columns]>

In [70]:
x = contents['x']
print(x)

0       24.0
1       50.0
2       15.0
3       38.0
4       87.0
5       36.0
6       12.0
7       81.0
8       25.0
9        5.0
10      16.0
11      16.0
12      24.0
13      39.0
14      54.0
15      60.0
16      26.0
17      73.0
18      29.0
19      31.0
20      68.0
21      87.0
22      58.0
23      54.0
24      84.0
25      58.0
26      49.0
27      20.0
28      90.0
29      48.0
       ...
670     84.0
671     64.0
672     12.0
673     61.0
674     75.0
675     15.0
676    100.0
677     43.0
678     13.0
679     48.0
680     45.0
681     52.0
682     34.0
683     30.0
684     65.0
685    100.0
686     67.0
687     99.0
688     45.0
689     87.0
690     73.0
691      9.0
692     81.0
693     72.0
694     81.0
695     58.0
696     93.0
697     82.0
698     66.0
699     97.0
Name: x, Length: 699, dtype: float64

In [71]:
print(x.head)

<bound method NDFrame.head of 0       24.0
1       50.0
2       15.0
3       38.0
4       87.0
5       36.0
6       12.0
7       81.0
8       25.0
9        5.0
10      16.0
11      16.0
12      24.0
13      39.0
14      54.0
15      60.0
16      26.0
17      73.0
18      29.0
19      31.0
20      68.0
21      87.0
22      58.0
23      54.0
24      84.0
25      58.0
26      49.0
27      20.0
28      90.0
29      48.0
       ...
670     84.0
671     64.0
672     12.0
673     61.0
674     75.0
675     15.0
676    100.0
677     43.0
678     13.0
679     48.0
680     45.0
681     52.0
682     34.0
683     30.0
684     65.0
685    100.0
686     67.0
687     99.0
688     45.0
689     87.0
690     73.0
691      9.0
692     81.0
693     72.0
694     81.0
695     58.0
696     93.0
697     82.0
698     66.0
699     97.0
Name: x, Length: 699, dtype: float64>

In [46]:
data = [8,2,13,24,75,96]
df = pd.DataFrame(data)
print(df)

    0
0   8
1   2
2  13
3  24
4  75
5  96

In [60]:
print(pd.DataFrame(df,columns=['y'],dtype=float))

    y
0 NaN
1 NaN
2 NaN

In [61]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=int)
print( df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [63]:
data = {"Apples": 30 , "Bananas" : 21}
pd.DataFrame(data,index=[0])

   Apples  Bananas
0      30       21

In [65]:
data = {"Apples": [30,41] , "Bananas" : [21,34]}
pd.DataFrame(data,index=["2017 Sales","2018 Sales"])

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

In [67]:
data = {"Dinner":pd.Series(["4 cups","1 cup","2 large","1 can"],index=["flour","Milk","Eggs","Spam"])}
df = pd.DataFrame(data)
print(df["Dinner"])

flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [69]:
df.to_csv("C:/Users/mlangaru.OSIUS/Desktop/dinner.csv",sep=",",encoding='utf-8')   #saving the file to a csv file